{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^fastify$",
    "^fastify-plugin$",
    "^fastify/.*$",
    "^@fastify/.*$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^config/.*$",
    "^schemas/.*$",
    "^utils/.*$",
    "^routes/.*$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
